input[type="color"] {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  padding: 0;
}

input[type="color"]::-moz-color-swatch {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 16px;
  padding: 0;
}