.Pictify {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PictifyBtns {
  width: 20rem;
  background-color: #4040401a;
  border-radius: 16px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .55rem 0;
}

#TextContainer {
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8eddd;
  overflow: hidden;
  border: 1px solid;
}

.Text {
  width: 25rem;
  height: auto;
  border: none;
  background-color: transparent;
  color: #5d6d81;
  text-align: center;
  font-size: 3.3rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  border: 1px solid;
}

textarea:focus-visible {
  outline: none;
}

.Interrogation {
  position: absolute;
  top: 3rem;
  right: 2rem;
}

.InterrogationIcon {
  display: inline;
  vertical-align: -moz-middle-with-baseline;
  vertical-align: sub;
}

@media only screen and (max-width: 480px) {
  #TextContainer {
    width: 100vw;
  }
}